.btn{
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;

    &.btn-primary{
        background-color: #ce0045;
        color: white;
    }
    &:active{
        transform: scale(1.03);
    }
}